/* //colors and default size. */
:root {
  --primaryColor: #00eaff;
  --primaryHover: #00eaff;
  --secondaryColor: rgb(150, 162, 188);
  --paragraphColor: rgb(127, 127, 175);
  --BgColor: #031a30;
  --fromColor: rgb(2, 15, 29);
  --projectCardColor: #072340;
  --textcolor: #dae4fb;
  --headerHeight: 3rem;
}

.contactContainer {
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.contactContainer .socialContacts {
  justify-content: center;
}
.contactContainer .socialContacts h3 {
  color: var(--secondaryColor);
  padding: 1rem;
  text-align: center;
}
.contactContainer .socialContacts .cards {
  gap: 1rem;
  justify-content: center;
}
.contactContainer .socialContacts .cards .card {
  display: grid;
  align-items: center;
  row-gap: 10px;
  padding: 1.5rem;
  background: var(--projectCardColor);
  border-radius: 10px;
  text-align: center;
  width: 240px;
}
.contactContainer .socialContacts .cards .card .icon {
  color: var(--primaryColor);
}
.contactContainer .socialContacts .cards .card h4 {
  color: var(--textcolor);
  font-size: 15px;
}
.contactContainer .socialContacts .cards .card .userName {
  color: var(--secondaryColor);
  font-weight: 600;
}
.contactContainer .socialContacts .cards .card a {
  justify-content: center;
  gap: 5px;
  color: var(--primaryColor);
  font-weight: 600;
  cursor: pointer;
}
.contactContainer .socialContacts .cards .card a .icon {
  font-size: 20px;
}
.contactContainer .socialContacts .cards .card a:hover {
  color: var(--primaryColor);
}
.contactContainer .socialContacts .cards .card a:hover .icon {
  transform: translateX(10px);
}
.contactContainer .form {
  width: 100%;
  justify-content: center;
  margin: auto;
}
.contactContainer .form h3 {
  text-align: center;
  margin-top: 1rem;
  color: var(--secondaryColor);
}
.contactContainer .form form {
  width: 100%;
  text-align: center;
}
.contactContainer .form form input, .contactContainer .form form textarea {
  height: 1rem;
  width: 90%;
  padding: 1.5rem 0.5rem;
  border-radius: 10px;
  background: none;
  border: 2px solid var(--secondaryColor);
  margin: 0.5rem 0;
  outline: none;
  color: var(--textcolor);
  font-weight: 600;
}
.contactContainer .form form input::-moz-placeholder, .contactContainer .form form textarea::-moz-placeholder {
  color: var(--secondaryColor);
  opacity: 0.5;
}
.contactContainer .form form input:-ms-input-placeholder, .contactContainer .form form textarea:-ms-input-placeholder {
  color: var(--secondaryColor);
  opacity: 0.5;
}
.contactContainer .form form input::placeholder, .contactContainer .form form textarea::placeholder {
  color: var(--secondaryColor);
  opacity: 0.5;
}
.contactContainer .form form textarea {
  height: 150px;
}
.contactContainer .form form .formBtn {
  display: block;
  margin: auto;
  width: 90%;
  border: none;
  padding: 1rem 0;
  border-radius: 10px;
  font-size: 18px;
  background: var(--primaryColor);
  color: var(--BgColor);
  font-weight: 600;
  cursor: pointer;
}
.contactContainer .form form .formBtn:hover {
  background: var(--primaryColor);
}

@media screen and (min-width: 640px) {
  .cards {
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1150px) {
  .contactSection .contactContainer {
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start !important;
  }
}
@media screen and (min-width: 1240px) {
  .contact {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}/*# sourceMappingURL=contact.css.map */